body {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

h1 {
    font-size: 2em;
    color: #222;
}

#updated-date {
    font-size: 0.9em;
    color: #555;
}

#description {
    display: inline-block;
    width: 90%;
    max-width: 1000px;
    font-size: 1em;
}

.object-thumb {
    display: inline-block;
    max-width: 300px;
    height: max-content;
    vertical-align: top;
    margin: 20px;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
}

.object-thumb:hover {
    box-shadow: #ddd 0 0 5px 4px;
    cursor: pointer;
}

.img-thumb {
    width: 100%;
    max-height: 400px;
    border-radius: 5px;
}

.prompt-text-thumb {
    margin-top: 5px;
    color: #555;
    font-size: 1em;
    /* limit 2 lines */
    text-overflow: ellipsis;
    overflow: hidden;
    height: max-content;
    line-height: 1.15em;
}

#container-full {
    position: fixed;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(64, 64, 64, 0.7);
    overflow-x: scroll;
}

#close-button {
    position: fixed;
    right: 0;
    top: 0;
    margin: 10px;
    padding: 5px;
    border-radius: 5px;
    line-height: 24px;
    font-size: 40px;
    background-color: rgba(20, 20, 20, 0.3);
    font-family: auto;
    color: white;
}

#close-button:hover {
    cursor: pointer;
    background-color: rgba(20, 20, 20, 0.5);
}

.object-full {
    display: inline-block;
    width: 100%;
    height: 95%;
    margin-top: 15px;
    white-space: nowrap;
}

.object-img {
    display: inline-block;
    height: 100%;
}

.img-full {
    width: auto;
    min-width: 100px;
    min-height: 100px;
    max-height: 100%;
    /* image-rendering: pixelated; */
    color: white;
}

.object-info {
    display: inline-block;
    width: 280px;
    height: 100%;
    background-color: white;
    vertical-align: top;
    text-align: left;
    white-space: normal;
}

.object-info-inner {
    margin: 20px 15px;
}

@media only screen and (max-aspect-ratio: 5/6) {
    #container-full {
        display: inline-flex;
        overflow-x: hidden;
        overflow-y: scroll;
    }

    .object-full {
        display: inline-block;
        width: 95%;
        height: min-content;
        margin: auto;
    }

    .object-img {
        display: block;
        width: 100%;
        height: min-content;
    }

    .img-full {
        max-width: 100%;
    }

    .object-info {
        display: block;
        width: 100%;
        height: min-content;
        min-height: 3em;
        background-color: white;
        padding: 10px 0px;
    }

    .object-info-inner {
        margin: 0px 15px;
    }

}

.info-date, .info-text, .info-comment {
    display: block;
    margin: 0.5em 0;
    line-height: 1.25em;
    font-size: 1em;
}

.info-date {
    color: #555;
}

.info-text {
    color: #222;
    font-style: italic;
    /* text-decoration: underline; */
}

.info-comment {
    color: #222;
}